body {
    color: #D4B49E;
     background-color: #895939;
  }
  
  h1 {
    color: #D4B49E;
    font-family:'Lora';
    font-size: 3.0em;
  }
    h2 {
  font-size: 1.56em;
  font-family:'Merriweather';
      
    }
  }